<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><%= @attend.student.name %></h5>
            <button type="button" class="btn-closee" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <p>欠席に☑をいれてください</p>
            <%= form_with url: attendance_create_path, model: @attend do |form| %>
                <%= form.hidden_field :input %>
                <%= form.hidden_field :student_id %>

                <p>
                    <%= form.label 'ＨＲ１'%>
                    <%= form.check_box :hr_attend1 %>
                    <%= form.text_field :hr_comment1 %>
                </p>

                <p>
                    <%= form.label '１限　'%>
                    <%= form.check_box :attend1 %>
                    <%= form.text_field :comment1 %>
                </p>

                <p>
                    <%= form.label '２限　'%>
                    <%= form.check_box :attend2 %>
                    <%= form.text_field :comment2 %>
                </p>

                <p>
                    <%= form.label '３限　'%>
                    <%= form.check_box :attend3 %>
                    <%= form.text_field :comment3 %>
                </p>

                <p>
                    <%= form.label '４限　'%>
                    <%= form.check_box :attend4 %>
                    <%= form.text_field :comment4 %>
                </p>

                <p>
                    <%= form.label '５限　'%>
                    <%= form.check_box :attend5 %>
                    <%= form.text_field :comment5 %>
                </p>

                <p>
                    <%= form.label '６限　'%>
                    <%= form.check_box :attend6 %>
                    <%= form.text_field :comment6 %>
                </p>
                
                <% unless @subject7.disabled? %>
                <p>
                    <%= form.label '７限　'%>
                    <%= form.check_box :attend7 %>
                    <%= form.text_field :comment7 %>
                </p>
                <% end %>
                
                <p>
                    <%= form.label 'ＨＲ２'%>
                    <%= form.check_box :hr_attend2 %>
                    <%= form.text_field :hr_comment2 %>
                </p>
                <%# true falesを逆にする %>
                <%= link_to '戻る', attendance_list_path(@attend.student.grade_id, @attend.input),{class:"btn btn-outline-secondary"} %>
                <%=form.submit '登録'%>

            <% end %>
        </div>
    </div>
</div>