<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><%= @timetable.grade.full_name %></h5>
            <button type="button" class="btn-closee" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <%= form_with url: attendance_subject_create_path, model: @timetable do |form| %>
                <%= form.hidden_field :input %>
                <%= form.hidden_field :grade_id %>
                <%= form.collection_select(:subject_id1, @subjects, :id, :name) %>
                <%= form.collection_select(:subject_id2, @subjects, :id, :name) %>
                <%= form.collection_select(:subject_id3, @subjects, :id, :name) %>
                <%= form.collection_select(:subject_id4, @subjects, :id, :name) %>
                <%= form.collection_select(:subject_id5, @subjects, :id, :name) %>
                <%= form.collection_select(:subject_id6, @subjects, :id, :name) %>
                <%= form.collection_select(:subject_id7, @subjects, :id, :name) %>
                <%= form.submit "保存"%>
            <% end %>
        </div>
    </div>
</div>
