<h1><%= @grade.full_name%></h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col"><%= @date %></th>
            <th class="col"></th>
            <th class="col"></th>
            <th class="col">1</th>
            <th class="col">2</th>
            <th class="col">3</th>
            <th class="col">4</th>
            <th class="col">5</th>
            <th class="col">6</th>
            <th class="col">7</th>
            <th class="col"></th>
        </tr>

        <tr>
            <% if @timetable.subject1.nil? %>
                <th class="col"><%= link_to "教科", attendance_subject_new_path, remote: true %></th>
            <% else %>
                <th class="col"><%= link_to "教科", attendance_subject_edit_path, remote: true %></th>
            <% end %>
            <th class="col"></th>
            <th class="col">HR</th>
            <th class="col"><%= @timetable.subject1.name if @timetable.subject1.present? %></th>
            <th class="col"><%= @timetable.subject2.name if @timetable.subject2.present? %></th>
            <th class="col"><%= @timetable.subject3.name if @timetable.subject3.present? %></th>
            <th class="col"><%= @timetable.subject4.name if @timetable.subject4.present? %></th>
            <th class="col"><%= @timetable.subject5.name if @timetable.subject5.present? %></th>
            <th class="col"><%= @timetable.subject6.name if @timetable.subject6.present? %></th>
            <th class="col"><%= @timetable.subject7.name if @timetable.subject7.present? %></th>
            <th class="col">HR</th>
        </tr>

        <tr>
            <th class="col">担当</th>
            <th class="col"></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "hr_teacher1", column_name: "hr_teacher_id1" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "teacher1",    column_name: "teacher_id1" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "teacher2",    column_name: "teacher_id2" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "teacher3",    column_name: "teacher_id3" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "teacher4",    column_name: "teacher_id4" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "teacher5",    column_name: "teacher_id5" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "teacher6",    column_name: "teacher_id6" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "teacher7",    column_name: "teacher_id7" %></th>
            <th class="col"><%= render 'teacher_link_to', timetable: @timetable, associate_name: "hr_teacher2", column_name: "hr_teacher_id2" %></th>
        </tr>

    </thead>

    <tbody>
        <% @students.each do |student| %>
            <% attend = @attends_hash[student.id] || Attend.new %>
            <tr>
                <th><%= student.name %></th>
                <th class="col" >
                    
                        <% if attend.id.nil? %>
                            <%= link_to attendance_new_path(student.id, @date), remote:true do %>
                                <i class="bi bi-pencil">
                                </i>
                            <% end %>
                        <% else %>
                            <%= link_to attendance_edit_path(attend.id, @date), remote:true do %>    <!-- {class: "bi bi-pencil-fill"} -->
                                <i class="bi bi-pencil-fill">
                                </i>
                            <% end %>
                        <% end %>
                </th>
                <td class="<%= attend.hr_attend1 ? 'bg-danger-subtle' : '' %>"></td>
                <td class="<%= attend.attend1 ? 'bg-danger-subtle' : '' %>"></td>
                <td class="<%= attend.attend2 ? 'bg-danger-subtle' : '' %>"></td>
                <td class="<%= attend.attend3 ? 'bg-danger-subtle' : '' %>"></td>
                <td class="<%= attend.attend4 ? 'bg-danger-subtle' : '' %>"></td>
                <td class="<%= attend.attend5 ? 'bg-danger-subtle' : '' %>"></td>
                <td class="<%= attend.attend6 ? 'bg-danger-subtle' : '' %>"></td>
                <% if @timetable.id.present? && @timetable.subject7.disabled? %>
                    <td class="bg-secondary"></td>
                <% else %>
                    <td class="<%= attend.attend7 ? 'bg-danger-subtle' : '' %>"></td>
                <% end %>
                <td class="<%= attend.hr_attend2 ? 'bg-danger-subtle' : '' %>"></td>
            </tr>
        <% end %>
        
    </tbody>
    
</table>

<%= link_to'戻る',"/grade_select",{class:"btn btn-outline-secondary"}%>

<div id="modal-form" class="modal fade"></div>

