<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail %>
  </div>

  <div class="field">
    <%= form.label :pw %>
    <%= form.text_field :pw %>
  </div>

  <div class="field">
    <%= form.label :grade_id %>
    <%= form.number_field :grade_id %>
  </div>

  <div class="field">
    <%= form.label :kana %>
    <%= form.text_field :kana %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
