<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>ふりがな:</strong>
  <%= @student.kana %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @student.mail %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @student.pw %>
</p>

<p>
  <strong>学年クラス:</strong>
  <%= @student.grade.full_name %>
</p>


<%= link_to '戻る', edit_student_path(@student),{class:"btn btn-outline-secondary "} %> 
<%= link_to '一覧へ', students_path,{class:"btn btn-outline-secondary "} %>
