<%= form_with(model: timetable) do |form| %>
  <% if timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
        <% timetable.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :input %>
    <%= form.date_select :input %>
  </div>

  <div class="field">
    <%= form.label :grade_id %>
    <%= form.number_field :grade_id %>
  </div>

  <div class="field">
    <%= form.label :subject_id1 %>
    <%= form.number_field :subject_id1 %>
  </div>

  <div class="field">
    <%= form.label :subject_id2 %>
    <%= form.number_field :subject_id2 %>
  </div>

  <div class="field">
    <%= form.label :subject_id3 %>
    <%= form.number_field :subject_id3 %>
  </div>

  <div class="field">
    <%= form.label :subject_id4 %>
    <%= form.number_field :subject_id4 %>
  </div>

  <div class="field">
    <%= form.label :subject_id5 %>
    <%= form.number_field :subject_id5 %>
  </div>

  <div class="field">
    <%= form.label :subject_id6 %>
    <%= form.number_field :subject_id6 %>
  </div>

  <div class="field">
    <%= form.label :subject_id7 %>
    <%= form.number_field :subject_id7 %>
  </div>

  <div class="field">
    <%= form.label :teacher_id1 %>
    <%= form.number_field :teacher_id1 %>
  </div>

  <div class="field">
    <%= form.label :teacher_id2 %>
    <%= form.number_field :teacher_id2 %>
  </div>

  <div class="field">
    <%= form.label :teacher_id3 %>
    <%= form.number_field :teacher_id3 %>
  </div>

  <div class="field">
    <%= form.label :teacher_id4 %>
    <%= form.number_field :teacher_id4 %>
  </div>

  <div class="field">
    <%= form.label :teacher_id5 %>
    <%= form.number_field :teacher_id5 %>
  </div>

  <div class="field">
    <%= form.label :teacher_id6 %>
    <%= form.number_field :teacher_id6 %>
  </div>

  <div class="field">
    <%= form.label :teacher_id7 %>
    <%= form.number_field :teacher_id7 %>
  </div>

  <div class="field">
    <%= form.label :hr_teacher_id1 %>
    <%= form.number_field :hr_teacher_id1 %>
  </div>

  <div class="field">
    <%= form.label :hr_teacher_id2 %>
    <%= form.number_field :hr_teacher_id2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
