<p id="notice"><%= notice %></p>

<p>
  <strong>Input:</strong>
  <%= @timetable.input %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @timetable.grade_id %>
</p>

<p>
  <strong>Subject id1:</strong>
  <%= @timetable.subject_id1 %>
</p>

<p>
  <strong>Subject id2:</strong>
  <%= @timetable.subject_id2 %>
</p>

<p>
  <strong>Subject id3:</strong>
  <%= @timetable.subject_id3 %>
</p>

<p>
  <strong>Subject id4:</strong>
  <%= @timetable.subject_id4 %>
</p>

<p>
  <strong>Subject id5:</strong>
  <%= @timetable.subject_id5 %>
</p>

<p>
  <strong>Subject id6:</strong>
  <%= @timetable.subject_id6 %>
</p>

<p>
  <strong>Subject id7:</strong>
  <%= @timetable.subject_id7 %>
</p>

<p>
  <strong>Teacher id1:</strong>
  <%= @timetable.teacher_id1 %>
</p>

<p>
  <strong>Teacher id2:</strong>
  <%= @timetable.teacher_id2 %>
</p>

<p>
  <strong>Teacher id3:</strong>
  <%= @timetable.teacher_id3 %>
</p>

<p>
  <strong>Teacher id4:</strong>
  <%= @timetable.teacher_id4 %>
</p>

<p>
  <strong>Teacher id5:</strong>
  <%= @timetable.teacher_id5 %>
</p>

<p>
  <strong>Teacher id6:</strong>
  <%= @timetable.teacher_id6 %>
</p>

<p>
  <strong>Teacher id7:</strong>
  <%= @timetable.teacher_id7 %>
</p>

<p>
  <strong>Hr teacher id1:</strong>
  <%= @timetable.hr_teacher_id1 %>
</p>

<p>
  <strong>Hr teacher id2:</strong>
  <%= @timetable.hr_teacher_id2 %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
