<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class = "time">
    <div class="field">
      <%= form.label :日付 %>
      <%= form.date_select :input ,:use_month_numbers => true%>
    </div>
    <div class="field">
      <%= form.label :開始 %>
      <%= form.time_select :start ,:use_month_numbers => true,:minute_step => 30 %>
    </div>

    <div class="field">
      <%= form.label :終了 %>
      <%= form.time_select :finish ,:use_month_numbers => true,:minute_step => 30%>
    </div>
  </h2>

  <div class="actions">
    <%= form.submit "保存" %>
  </div>
<% end %>
