<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @teacher.mail %>
</p>

<p>
  <strong>Pw:</strong>
  <%= @teacher.pw %>
</p>

<p>
  <strong>Room:</strong>
  <%= @teacher.room_id %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @teacher.kana %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
