<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>ふりがな:</strong>
  <%= @teacher.kana %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @teacher.mail %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @teacher.pw %>
</p>

<p>
  <strong>教室:</strong>
  <%= @teacher.room.name %>
</p>


<%= link_to '戻る', edit_teacher_path(@teacher),{class:"btn btn-outline-secondary "} %> 
<%= link_to '一覧へ', teachers_path,{class:"btn btn-outline-secondary "} %>
