<style>

</style>

<%= form_with url: login_create_path, model: @login do |form| %>

<div class="text-center" style="padding:50px 0">
      <div class="login-triangle"></div>
          <div class="logo">ログイン</div>


            <%= form.label :mail,'メールアドレス' %> <br>
            <%= form.text_field :mail %> <br>
            <%= form.label :pw ,'パスワード' %> <br>
            <%= form.text_field :pw %><br>
            <%= form.submit "ログイン" %>

<% end %>