
<div>
    <h1 style="display:inline-block; padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px;">
    <%= @teacher.name %>先生　不在日</h1>
    <br>
    <br>
    <br>
    <h2><%= "#{@date.year}年" %></h2>
    <h2><%= link_to "◀", teacher_schedule_path(@teacher.id, @date.last_month) %>
        <%= "#{@date.mon}月" %>
    <%= link_to "▶", teacher_schedule_path(@teacher.id, @date.next_month) %></h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>日時</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% @schedules.each do |schedule| %>
            <tr>
                <td class = "text"><%= schedule.start.day %>日</td>
                <td class = "text"><%= schedule.start.strftime(" %H:%M" ) %></td>
                <td class = "text">～</td>
                <td class = "text"><%= schedule.finish.strftime(" %H:%M") %></td>
            </tr>
        <% end %>
        </tbody>
        
    </table>
    <%= link_to'戻る',"/teacher_select",{class:"btn btn-outline-secondary"}%>
</div>