<p id="notice"><%= notice %></p>

<p>
  <strong>Input:</strong>
  <%= @attend.input %>
</p>

<p>
  <strong>Hr attend1:</strong>
  <%= @attend.hr_attend1 %>
</p>

<p>
  <strong>Hr attend2:</strong>
  <%= @attend.hr_attend2 %>
</p>

<p>
  <strong>Attend1:</strong>
  <%= @attend.attend1 %>
</p>

<p>
  <strong>Attend2:</strong>
  <%= @attend.attend2 %>
</p>

<p>
  <strong>Attend3:</strong>
  <%= @attend.attend3 %>
</p>

<p>
  <strong>Attend4:</strong>
  <%= @attend.attend4 %>
</p>

<p>
  <strong>Attend5:</strong>
  <%= @attend.attend5 %>
</p>

<p>
  <strong>Attend6:</strong>
  <%= @attend.attend6 %>
</p>

<p>
  <strong>Attend7:</strong>
  <%= @attend.attend7 %>
</p>

<p>
  <strong>Hr comment1:</strong>
  <%= @attend.hr_comment1 %>
</p>

<p>
  <strong>Hr comment2:</strong>
  <%= @attend.hr_comment2 %>
</p>

<p>
  <strong>Comment1:</strong>
  <%= @attend.comment1 %>
</p>

<p>
  <strong>Comment2:</strong>
  <%= @attend.comment2 %>
</p>

<p>
  <strong>Comment3:</strong>
  <%= @attend.comment3 %>
</p>

<p>
  <strong>Comment4:</strong>
  <%= @attend.comment4 %>
</p>

<p>
  <strong>Comment5:</strong>
  <%= @attend.comment5 %>
</p>

<p>
  <strong>Comment6:</strong>
  <%= @attend.comment6 %>
</p>

<p>
  <strong>Comment7:</strong>
  <%= @attend.comment7 %>
</p>

<%= link_to 'Edit', edit_attend_path(@attend) %> |
<%= link_to 'Back', attends_path %>
